<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="entap" value="https://app.entap.dev/nuget/api/v2/" />
    </packageSources>
    <packageSourceCredentials>
        <entap>
            <add key="Username" value="%entap_nuget_user%" />
            <add key="ClearTextPassword" value="%entap_nuget_password%" />
        </entap>
    </packageSourceCredentials>
</configuration>